In [9]:
import os, sys
sys.path.insert(0, '..')

In [10]:
from fbpyutils import xlsx as XL, db as DB
import hashlib

In [11]:
j = {
        'operation': 1,
        'table_name': 2,
        'insertions': 3,
        'updates': 4,
        'failures': [(0,'failure1'), (1,'failure2')],
    }

In [12]:
', '.join([f"{k}='{str(v)}'" for k, v in j.items()])

"operation='1', table_name='2', insertions='3', updates='4', failures='[(0, 'failure1'), (1, 'failure2')]'"

In [13]:
str(j)

"{'operation': 1, 'table_name': 2, 'insertions': 3, 'updates': 4, 'failures': [(0, 'failure1'), (1, 'failure2')]}"

In [21]:
import pandas as pd
import numpy as np

data = {
    'StringColumn': ['Apple', 'Banana', 'Orange', 'Grape', 'Mango'],
    'NumberColumn': [10, 20, 30, 40, 50],
    'DateColumn': pd.date_range('2022-01-01', periods=5),
    'FloatColumn': np.random.rand(5)
}

df = pd.DataFrame(data)

print(df)

  StringColumn  NumberColumn DateColumn  FloatColumn
0        Apple            10 2022-01-01     0.828996
1       Banana            20 2022-01-02     0.563440
2       Orange            30 2022-01-03     0.728441
3        Grape            40 2022-01-04     0.866949
4        Mango            50 2022-01-05     0.642802

In [22]:
hash_df = df.apply(lambda x: hashlib.md5(str(x).encode()).hexdigest()[:12], axis=1)

In [23]:
index_name = 'Id'

In [24]:
hash_df

0    088de8664e06
1    4142b055df24
2    e666164d2f7e
3    70da82fa2cb0
4    8f983dd3b71d
dtype: object

In [25]:
df[index_name] = hash_df

In [26]:
df

  StringColumn  NumberColumn DateColumn  FloatColumn            Id
0        Apple            10 2022-01-01     0.828996  088de8664e06
1       Banana            20 2022-01-02     0.563440  4142b055df24
2       Orange            30 2022-01-03     0.728441  e666164d2f7e
3        Grape            40 2022-01-04     0.866949  70da82fa2cb0
4        Mango            50 2022-01-05     0.642802  8f983dd3b71d

In [27]:
xcolumns = [index_name, *[c for c in df.columns if c != index_name]]
xcolumns

['Id', 'StringColumn', 'NumberColumn', 'DateColumn', 'FloatColumn']

In [29]:
df = df[xcolumns].copy()

In [30]:
df

             Id StringColumn  NumberColumn DateColumn  FloatColumn
0  088de8664e06        Apple            10 2022-01-01     0.828996
1  4142b055df24       Banana            20 2022-01-02     0.563440
2  e666164d2f7e       Orange            30 2022-01-03     0.728441
3  70da82fa2cb0        Grape            40 2022-01-04     0.866949
4  8f983dd3b71d        Mango            50 2022-01-05     0.642802