In [1]:
import os, sys
sys.path.insert(0, '..')

In [3]:
from fbpyutils import xlsx as XL, db as DB
from fbpyutils.db import _deal_with_nans
import hashlib

In [20]:
import pandas as pd
import numpy as np

data = {
    'StringColumn': ['Apple', 'Banana', 'Orange', 'Grape', 'Mango'],
    'NumberColumn': [10, 20, 30, 40, 50],
    'DateColumn': pd.date_range('2022-01-01', periods=5),
    'FloatColumn': np.random.rand(5),
    'FakeDateColumn': ['2023-06-31', '2021-01-01', None, '', '2023-12-32'],
    'FakeNumColumn': ['0.1', '1000.23', '1ˆ123', None, ''],
    'FakeStringColumn': ['X', '', '1', None, ''],
}

df = pd.DataFrame(data)

df

,StringColumn,NumberColumn,DateColumn,FloatColumn,FakeDateColumn,FakeNumColumn,FakeStringColumn
0,Apple,10,2022-01-01,0.586971,2023-06-31,0.1,X
1,Banana,20,2022-01-02,0.151301,2021-01-01,1000.23,
2,Orange,30,2022-01-03,0.467924,None,1ˆ123,1
3,Grape,40,2022-01-04,0.401125,,None,None
4,Mango,50,2022-01-05,0.516477,2023-12-32,,

In [21]:
df['FakeDateColumn'] = pd.to_datetime(df['FakeDateColumn'], format='%Y-%m-%d', errors='coerce')

In [22]:
df['FakeNumColumn'] = pd.to_numeric(df['FakeNumColumn'], errors='coerce')

In [23]:
values = []
for i, row in df.iterrows():
    values.append({col: _deal_with_nans(row[col]) for col in df.columns})

In [24]:
df

,StringColumn,NumberColumn,DateColumn,FloatColumn,FakeDateColumn,FakeNumColumn,FakeStringColumn
0,Apple,10,2022-01-01,0.586971,NaT,0.10,X
1,Banana,20,2022-01-02,0.151301,2021-01-01,1000.23,
2,Orange,30,2022-01-03,0.467924,NaT,NaN,1
3,Grape,40,2022-01-04,0.401125,NaT,NaN,None
4,Mango,50,2022-01-05,0.516477,NaT,NaN,

In [25]:
values

[{'StringColumn': 'Apple',
  'NumberColumn': 10,
  'DateColumn': Timestamp('2022-01-01 00:00:00'),
  'FloatColumn': 0.5869707012426717,
  'FakeDateColumn': None,
  'FakeNumColumn': 0.1,
  'FakeStringColumn': 'X'},
 {'StringColumn': 'Banana',
  'NumberColumn': 20,
  'DateColumn': Timestamp('2022-01-02 00:00:00'),
  'FloatColumn': 0.15130083925577098,
  'FakeDateColumn': Timestamp('2021-01-01 00:00:00'),
  'FakeNumColumn': 1000.23,
  'FakeStringColumn': None},
 {'StringColumn': 'Orange',
  'NumberColumn': 30,
  'DateColumn': Timestamp('2022-01-03 00:00:00'),
  'FloatColumn': 0.4679238747233362,
  'FakeDateColumn': None,
  'FakeNumColumn': None,
  'FakeStringColumn': '1'},
 {'StringColumn': 'Grape',
  'NumberColumn': 40,
  'DateColumn': Timestamp('2022-01-04 00:00:00'),
  'FloatColumn': 0.4011252708722629,
  'FakeDateColumn': None,
  'FakeNumColumn': None,
  'FakeStringColumn': None},
 {'StringColumn': 'Mango',
  'NumberColumn': 50,
  'DateColumn': Timestamp('2022-01-05 00:00:00'),
  'FloatColumn': 0.5164770609813341,
  'FakeDateColumn': None,
  'FakeNumColumn': None,
  'FakeStringColumn': None}]